[submodule "glfw"]
	path = glfw
	url = https://github.com/glfw/glfw
[submodule "cereal"]
	path = cereal
	url = https://github.com/USCiLab/cereal
[submodule "glm"]
	path = glm
	url = https://github.com/g-truc/glm.git
